@font-face {
  font-family: 'Museo';
  src: url('./fonts/MuseoSansCyrl-500.woff');
  font-weight: 500;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.main {
  width: 100vw;
  height: 100vh;
  background: url('./img/main_background.png') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  position: relative;
}

.circle {
  position: relative;
  width: 59vh;
  height: 59vh;
  border-radius: 50%;
  background: url('./img/main_background.png');
  background-size: 500%;
  background-position: center;
  z-index: 2;
}

.circle__text {
  position: absolute;
  top: 50px;
  left: -390px;
  font-family: 'Museo';
  font-size: 58px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  z-index: 1;
}

.circle__text-info {
  font-size: 25px;
  margin-bottom: 86px;
}

.circle__text-button {
  padding: 11px 24px;
  text-decoration: none;
  font-family: 'Museo';
  font-size: 14px;
  font-weight: 100;
  color: #7b7d7f;
  width: 180px;
  height: 35px;
  border: 1px solid #1b406e;
  background-color: rgba(0, 0, 0, 0.3);
}

.circle__text-button::before {
  position: absolute;
  content: url('./img/angle1.png');
  margin-top: 50px;
  margin-left: -40px;
}

.circle__text-button::after {
  position: absolute;
  content: url('./img/angle2.png');
  margin-top: 13px;
  margin-left: 6px;
}

.button__wraper::after {
  position: absolute;
  content: url('./img/line.png');
  margin-top: 50px;
  margin-left: 0px;
}

.info {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 30px;
  left: 500px;
}

.info_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.info__element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 172px;
  height: 172px;
}

.info__element-1::after {
  position: absolute;
  content: url('./img/img_element_background.png');
}

.info__element-2::after {
  position: absolute;
  content: url('./img/img_element_background.png');
  transform: rotate(90deg);
}

.info__element-3::after {
  position: absolute;
  content: url('./img/img_element_background.png');
  transform: rotate(270deg);
}

.info__element-4::after {
  position: absolute;
  content: url('./img/img_element_background.png');
  transform: rotate(180deg);
}

.info__element-first {
  font-family: 'Museo';
  font-size: 16px;
  font-weight: 100;
  color: #ffffff;
  margin-bottom: 20px;
}

.info__element-second {
  font-family: 'Museo';
  font-size: 60px;
  font-weight: 700;
  color: #ffffff;
}

.info__element-third {
  font-family: 'Museo';
  font-size: 18px;
  color: #ffffff;
}

@media all and (max-width:600px) {
  .circle {
    display: none;
  }

  .main {
    display: block;
  }

  .circle__text {
    position: relative;
    top: auto;
    left: auto;
    margin: 0;
    padding-top: 25px;
  }

  .wrapper {
    padding-top: 50px;
  }

  .info {
    position: relative;
    left: auto;
    top: auto;
  }

  .circle__text {
    position: relative;
    text-align: center;
    font-family: 'Museo';
    font-size: 28px;
  }

  .circle__text-info {
    margin: 0 0 25px 0;
  }

  .circle__text-button {}

  .circle__text-button::after {
    display: none;
  }

  .circle__text-button::before {
    display: none;
  }

  .button__wraper::after {
    display: none;
  }
}
